<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container"><br>
    <a class="btn btn-success" href="/admin/categories/new">Criar Categoria</a>
    <hr>
    <h2>Categories</h2>
    <hr>
    <table class="table">
        <trhead>
            <th>Id</th>
            <th>Ttulo</th>
            <th>Slug</th>
            <th>Categoria</th>
            <th>Ações</th>
        </trhead>
        <tbody>
            <% articles.forEach((article) => { %>
                <tr>
                  <td><%= article.id %></td>
                  <td><%= article.title %></td>
                  <td><%= article.slug %></td>
                  <td><%= article.category.title %></td>

                  
                </tr>
             <% }); %>  
                
        </tbody>  
    </table>
</div>


<%- include('../../partials/footer.ejs') %>